#navbar {
    flex-direction: column;
}

#navbar ul li a {
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 10px;
}


#home {
    height: 510px;
    padding: 3px 68px;
}

#home::before {
    height: 480px;
}

#home p {
    font-size: 13px;
}

#services {
    flex-direction: column;
}


.h-primary {
    font-size: 26px;
}

#client-section::before {
    height: 120%;
}
#clients {
flex-wrap: wrap;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}
#contact::before {
    opacity: 1.0;
}
#contact-box input,
#contact-box textarea{
    margin-bottom: 50px;
    margin-top: 17px;
}